#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

#----------------------------------------------------------------------------#
rsource "Kconfig.defaults"

menu "Audio Stream Transceiver"

config AUDIO_DEV
	int "Select which device type to compile for. 1=HEADSET or 2=GATEWAY"
	range 1 2
	default 1
	help
	  Setting this variable to 1 selects that the project is compiled
	  as a HEADSET device.
	  Setting to 2 will compile as a GATEWAY.
          
choice AUDIO_DEV
	prompt "Choose device role from transmite, receiver and walkie talkie"
	default AUDIO_TRASMITER

config AUDIO_TRASMITER
	bool "Play audio stream transmiter role"

config AUDIO_RECEIVER
	bool "Play audio stream receiver role"

# config AUDIO_WALKIE_TALKIE
# 	bool "Play as walkie talkie role after connection build"

endchoice # AUDIO_DEV

config AUDIO_USB_PASS_THROUGH
	bool "Enable USB pass through"
	default n
	help
	  Enable USB pass through feature.

rsource "src/audio/Kconfig"
rsource "src/net/Kconfig"
rsource "src/drivers/Kconfig"
rsource "src/modules/Kconfig"
rsource "src/utils/Kconfig"

#----------------------------------------------------------------------------#
menu "Logging"

module = MAIN
module-str = main
source "subsys/logging/Kconfig.template.log_config"

config PRINT_STACK_USAGE_MS
	depends on THREAD_ANALYZER && INIT_STACKS
	int "Print stack usage every x milliseconds"
	default 5000

endmenu # Log levels

#----------------------------------------------------------------------------#
endmenu # "Audio Stream Transceiver"

source "Kconfig.zephyr"
