/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/{
        gpio_fwd: nrf-gpio-forwarder {
                compatible = "nordic,nrf-gpio-forwarder";
                status = "disabled";
               };
};
