#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

#----------------------------------------------------------------------------#
rsource "Kconfig.defaults"
rsource "Kconfig"

#----------------------------------------------------------------------------#
menu "Soket Utility Module"

config SOCKET_STACK_SIZE
	int "Stack size for encoder thread"
	default 8192

config SOCKET_UTIL_THREAD_PRIO
	int "Thread priority for socket thread"
	default 3

config SOCKET_TARGET_ADDR
	string "Target socket address socket to connect with"
        default ""

choice SOCKET_TYPE
	prompt "Choose socket type used for data transmission"
	default SOCKET_TYPE_UDP

config SOCKET_TYPE_UDP
	bool "Use UDP Socket for data tramsission"

config SOCKET_TYPE_TCP
	bool "Use TCP Socket for data transmission"

endchoice # AUDIO_STREAM_ROL

choice SOCKET_ROLE
	prompt "Set socket role: server to listen for incoming connections or client to connect to a server"
	default SOCKET_ROLE_SERVER

config SOCKET_ROLE_SERVER
	bool "Device works as socket server, listen for connection requests from client."

config SOCKET_ROLE_CLIENT
	bool "Device works as socket client, connect to a socket server."

endchoice # AUDIO_STREAM_ROL

endmenu # "Audio Stream Transceiver"

#----------------------------------------------------------------------------#
module = SOCKET_UTIL_MODULE
module-str = socket utility module
source "subsys/logging/Kconfig.template.log_config"