#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

#----------------------------------------------------------------------------#
config MDNS_QUERY_NAME
		string "mDNS query name"
		default "zephyr"
		help
			Set the mDNS query name